.box {
    border: 2px solid black;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

body {
    background-color: grey;
}

.content {
    display: flex;
}

main {
    width: 80%;
}

header {
    display: grid;
    grid-template-columns: 5fr 1fr;
}